<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="external.js"> </script>
</head>
<body>
<div id="bd">
<h2>Let's Watch Some Movies!</h2>
	{{{ body }}}
</div>
</body>
</head>
</html>
